// Styling used for the components-demo only, not production.

.t-components{
	margin: 8em auto 0 auto;
	width: 60%;
	
	code{
		display: inline;
		font-size: 1.3em;
		-webkit-font-smoothing: antialiased;
	  text-rendering: optimizeLegibility;
	  color: darken(orange, 5%);
	}
}

.m-components{
	@extend .row;
	position: relative;
}

.a-components__title{
	 @include type-to-em(48,60);
	 font-weight: bold;
	 font-family: Aclonica;
	 
	 span{
	 	color: $subtle-text;
	 }
	 
	 code{
	 	padding-left: 0.5em;
	 }
}

.a-components__sectiontitle{
	 @include type-to-em(24,36);
	 font-weight: bold;
	 margin-bottom: 1.5em;
	 padding-bottom: 1em;
	 border-bottom: 1px solid;
}

.m-compontents__subtle_example{
	color: $subtle-text;
}

.lib-overlay-container{
	position: relative;
}

.lib-color{
	height: 5.3rem;
	padding: 2rem 0;
	text-align: center;
	color: $body;
	
	&.action{
		background: $action;
	}
	
	&.primary{
		background: $primary;
	}
	
	&.secondary{
		background: $secondary;
	}
	
	&.complementary{
		background: $complementary;
	}
	
	&.subtle{
		color: $bodycolor;
		background: $subtle-bg;
	}
	
	&.gradient{
		@include gradient();
	}
	
	&.gradient-overlay{
		@extend .overlay;
	}
	
	&.gradient-complementary{
		@include multigradient();
	}
}