.t-components{
	margin: 0 auto;
	width: 60%;
}

.m-components{
	@extend .row;
	position: relative;
}

.a-components__title{
	 @include type-to-em(36,48);
	 font-weight: bold;
	 font-family: Aclonica;
}

.lib-overlay-container{
	position: relative;
}

.lib-color{
	height: 5.3rem;
	padding: 2rem 0;
	text-align: center;
	color: $body;
	
	&.action{
		background: $action;
	}
	
	&.complementary{
		background: $complementary;
	}
	
	&.subtle{
		color: $bodycolor;
		background: $subtle-bg;
	}
	
	&.gradient{
		@include gradient();
	}
	
	&.gradient-overlay{
		@extend .overlay;
		padding-top: 10%;
	}
	
	&.gradient-complementary{
		@include multigradient();
	}
}