
// MESSAGING =============================================================================================================

.o-modal{
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -500;
	opacity: 0;
	background-color: rgba($bodycolor, 0.7);
	pointer-events: none;
	
	.m-modal__popup{
		pointer-events: none;
		z-index: -600;
	}
}


// GRIDVIEW =============================================================================================================

.o-gridview{
	@extend .l-clearfix;
	
	&.padded{
		margin-right: -$gutter_alpha_half;
		margin-left: -$gutter_alpha_half;
		
		@media all and (min-width: $beta_query) {
			margin-right: -$gutter_beta_half;
			margin-left: -$gutter_beta_half;
		}
		
		@media all and (min-width: $charlie_query) {
			margin-right: -$gutter_charlie_half;
			margin-left: -$gutter_charlie_half;
		}
		
		@media all and (min-width: $delta_query) {
			margin-right: -$gutter_delta_half;
			margin-left: -$gutter_delta_half;
		}
		
		@media all and (min-width: $echo_query) {
			margin-right: -$gutter_echo_half;
			margin-left: -$gutter_echo_half;
		}
		
		.m-gridview__item{
			padding: $gutter_alpha_half;
			
			@media all and (min-width: $beta_query) {
				padding: $gutter_beta_half;
			}
			
			@media all and (min-width: $charlie_query) {
				padding: $gutter_charlie_half;
			}
			
			@media all and (min-width: $delta_query) {
				padding: $gutter_delta_half;
			}
			
			@media all and (min-width: $echo_query) {
				padding: $gutter_echo_half;
			}
		}
		
		.m-gridview__centered{
			top: $gutter_alpha_half;
			right: $gutter_alpha_half;
			bottom: $gutter_alpha_half;
			left: $gutter_alpha_half;
			
			@media all and (min-width: $beta_query) {
				top: $gutter_beta_half;
				right: $gutter_beta_half;
				bottom: $gutter_beta_half;
				left: $gutter_beta_half;
			}
			
			@media all and (min-width: $charlie_query) {
				top: $gutter_charlie_half;
				right: $gutter_charlie_half;
				bottom: $gutter_charlie_half;
				left: $gutter_charlie_half;
			}
			
			@media all and (min-width: $delta_query) {
				top: $gutter_delta_half;
				right: $gutter_delta_half;
				bottom: $gutter_delta_half;
				left: $gutter_delta_half;
			}
			
			@media all and (min-width: $echo_query) {
				top: $gutter_echo_half;
				right: $gutter_echo_half;
				bottom: $gutter_echo_half;
				left: $gutter_echo_half;
			}
		}
	}
	
	// ALPHA = 2 items before clearfloat
	
	.m-gridview__item:nth-of-type(2n+1){
		clear: both;
		
		@media screen and (min-width: $beta_query) {
			clear: none;
		}
	}

	// BETA = 3 items before clearfloat

	.m-gridview__item:nth-of-type(3n+1){
		@media screen and (min-width: $beta_query) {
			clear: both;
		} @media screen and (min-width: $charlie_query) {
			clear: none;
		}
	}
	
	// CHARLIE = 4 items before clearfloat

	.m-gridview__item:nth-of-type(4n+1){
		@media screen and (min-width: $charlie_query) {
			clear: both;
		} @media screen and (min-width: $delta_query) {
			clear: none;
		}
	}
	
	// DELTA = 5 items before clearfloat
	
	.m-gridview__item:nth-of-type(5n+1){
		@media screen and (min-width: $delta_query) {
			clear: both;
		} @media screen and (min-width: $echo_query) {
			clear: none;
		}
	}
	
	// ECHO = 5 items before clearfloat
	
	.m-gridview__item:nth-of-type(6n+1){
		@media screen and (min-width: $echo_query) {
			clear: both;
		}
	}
}