// EXTENDS & PLACEHOLDERS ===========================================================================================================

%gradient{
	background-color: $action;
	background-image: linear-gradient(left, $gradleft, $gradright);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#db5695', EndColorStr='#ffca95');
}

%gradient_rgba{
	background-image: linear-gradient(left, $gradleft-rgba, $gradright-rgba);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#db5695', EndColorStr='#ffca95');
}

%gradient_complementary{
	background-color: $complementary;
	background-image: linear-gradient(left, $complementary, lighten($complementary, 10%));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#deac7e', EndColorStr='#deac7e');
}

%ir{
	display: block;
	text-indent: -9999px;
}

%formtext{
	@include type-to-em(18,24);
	font-family: $bodyfont;
	width: 100%;
	padding: $body_leading/18+0em $body_leading/18+0em;
	color: rgba($bodycolor, 0.8);
	padding: 0 $leading;
	border: 1px solid rgba($bodycolor, 0.5);
	
	&::-webkit-input-placeholder { 
    color: $subtle-text;
	}
		
	&:-moz-placeholder { 
	    color: $subtle-text;
	    opacity: 1;
	}
		
	&::-moz-placeholder {
	    color:  $subtle-text;
	    opacity: 1;
	}
		
	&:-ms-input-placeholder {
		  color: $subtle-text;
	}
}

%buttonStyle{
	display: block;
	@include type-to-em(18,24);
	font-family: $bodyfont;
	width: 100%;
	padding: 0;
	line-height: 48/18+0em;
	text-align: center;
	color: $action;
	border: 1px solid $action;
	border-radius: (48/18+0em)/2;
}

%inline{
	display: inline-block;
	width: auto;
}

%overlay{
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

%row{
	padding: $leading 0;
	
	@media screen and (min-width: $beta_query) {
		padding: $leading*2 0 $leading*3;
	}
}

.row{
	@extend %row;
}