@charset "UTF-8";
// ADD HOOKS FOR JS-SCREEN DETECTION & BASIC BODY+HTML STYLING
//==============================================================================================================

head{
	font-family: 'aq';
}

.wfl body{
	visibility: hidden;
	opacity: 0;
}

body{
 	font-size: $alpha_bodysize/16*100+0%;
  line-height: $leading;
  font-family: $fallbackfont;
  color: $fallbackfont;
  background: $body;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color : rgba(0,0,0,0.2);
	
	&:after {
		content: 'aq';
  	display:none;
	}
}

// Webfontloader -----------------------------------------------------------------------------------------------------

.wf-active body{
	font-family: $bodyfont;
}

// -----------------------------------------------------------------------------------------------------

@media all and (min-width: $beta_query) {

	head{
		font-family: 'bq';
	}

	body{
		font-size: $beta_bodysize/16*100+0%;
	}

	body:after {
		content: 'bq';
	}
}

@media all and (min-width: $charlie_query) {

	head{
		font-family: 'cq';
	}

	body{
		font-size: $charlie_bodysize/16*100+0%;
	}

	body:after {
		content: 'cq';
	}
}

@media all and (min-width: $delta_query) {
	head{
		font-family: 'dq';
	}

	body{
		font-size: $delta_bodysize/16*100+0%;
	}

	body:after {
		content: 'dq';
	}
}

@media all and (min-width: $echo_query) {

	head{
		font-family: 'eq';
	}

	body{
		font-size: $echo_bodysize/16*100+0%;
	}

	body:after {
		content: 'eq';
	}
}